node_modules/
dist/
.venv/
__pycache__/
.pytest_cache/
.env
.DS_Store
frontend/.env
backend/.env
backend/app/static/images/*
!backend/app/static/images/.gitkeep
backend/app/static/music/*.mp3
!backend/app/static/music/.gitkeep
